.chalice/deployments/
.chalice/deployed/
.chalice/venv/
.chalice/config.json
*.pyc
__pycache__
*.egg-info/
dist/
.coverage
*.DS_Store
htmlcov/
coverage.xml
*.ipynb
!*LocalTest.ipynb
requirements.txt

# Virtual environments
*env/

# Emacs
*~

# PyCharm
.idea/

chalicelib/checks/wfr_cgap_checks.py

chalicelib/checks/helpers/wfrset_cgap_utils.py

chalicelib/checks/helpers/cgap_utils.py
