[tool.poetry]
name = "foursight"
version = "2.2.0.1b39"
description = "Serverless Chalice Application for Monitoring"
authors = ["4DN-DCIC Team <support@4dnucleome.org>"]
license = "MIT"
packages = [
  { include = "chalicelib" }
]

[tool.poetry.dependencies]
python = ">=3.7.1,<3.9"
dcicutils = "^4.0.2"
click = "^7.1.2"
PyJWT = "2.5.0"
Jinja2 = "2.10.1"
MarkupSafe = "1.1.1"
google-api-python-client = "^1.7.4"
geocoder = "1.38.1"
elasticsearch = "^6.8.1"
elasticsearch-dsl = "^6.4.0"
gitpython = "^3.1.2"
pytz = "^2020.1"
tibanna_ff = ">=0.22.5"
## adding foursight-core
# use below for deployment
foursight-core = "^2.1.0.1b39"
# use below for tests but not for deployment
# foursight-core = { git = "https://github.com/4dn-dcic/foursight-core.git", branch="master" }
pytest = "5.1.2"
gspread = ">=3.6.0"
oauth2client = ">=4.1.3"
pandas = ">=1.1.4"

[tool.poetry.dev-dependencies]
chalice = "^1.26.0"
pytest-cov = "2.7.1"
flaky = "3.6.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
