boto3==1.5.21
botocore==1.8.35
requests==2.18.4
PyJWT==1.5.3
Jinja2==2.9.6
chalice==1.3.0
MarkupSafe==1.0
elasticsearch>=5.0.0,<6.0.0
elasticsearch-curator>=5.0.0,<6.0.0
dcicutils>=0.2.6
aws_requests_auth
