dcicutils>=0.8.1
requests==2.21.0
click==6.7
PyJWT==1.5.3
Jinja2==2.10.1
MarkupSafe==1.0
google-api-python-client==1.7.4
geocoder==1.38.1
fuzzywuzzy==0.17.0
elasticsearch==5.5.3
elasticsearch-dsl==5.3.0
