{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h4 class="in-line"><span>{{page_title}}</span></h4>
            <h5 class="in-line pull-right">
                <span>
                    {{'Viewing results ' + (res_start + 1)|string + ' to ' + (res_start + res_actual)|string + '.'}}
                </span>
                {% if res_start > res_limit %}
                    <a href={{context + "history/" + env + "/" + check + "?start=" + (res_start - res_limit)|string + "&limit=" + res_limit|string}}>
                        {{'Previous ' + res_limit|string}}
                    </a>
                {% elif res_start <= res_limit and res_start > 0 %}
                    <a href={{context + "history/" + env + "/" + check + "?start=0&limit=" + res_limit|string}}>
                        {{'First ' + res_limit|string}}
                    </a>
                {% else %}
                    <span></span>
                {% endif %}
                {% if res_start > 0 and res_actual == res_limit %}
                    <span>{{"  |  "}}</span>
                {% endif %}
                {% if res_actual == res_limit %}
                    <a href={{context + "history/" + env + "/" + check + "?start=" + (res_start + res_limit)|string + "&limit=" + res_limit|string}}>
                        {{'Next ' + res_limit|string}}
                    </a>
                {% endif %}
            </h5>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered no-border">
                <thead>
                    <tr class="row active">
                        <th scope="col">status</th>
                        <th scope="col">summary</th>
                        {% for kwarg in history_kwargs %}
                            {% set this_kwarg = kwarg + ' (UTC)' if kwarg == 'uuid' else kwarg %}
                            <th scope="col">{{this_kwarg}}</th>
                        {% endfor %}
                        <th colspan="2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in history %}
                        {% set rowstat = '' %}
                        {% if entry[0] in ['PASS', 'DONE'] %}
                            {% set rowstat = 'success' %}
                        {% elif entry[0] in ['WARN', 'PEND'] %}
                            {% set rowstat = 'warning' %}
                        {% elif entry[0] == 'FAIL' %}
                            {% set rowstat = 'danger' %}
                        {% elif entry[0] == 'ERROR' %}
                            {% set rowstat = 'active' %}
                        {% else %}
                            {% set rowstat = '' %}
                        {% endif %}
                        <tr class="{{'row ' + rowstat}}">
                            <td>{{entry[0]}}</td>
                            <td>{{entry[1]}}</td>
                            {% for kw in history_kwargs %}
                                <td>{{entry[2].get(kw)}}</td>
                            {% endfor %}
                            {# boolean in entry[3] saying if it's a check or not #}
                            {% if entry[3] == True %}
                                <td>
                                    <a target="_blank" href={{context + "view/" + env + "/" + check + "/" + entry[2]['uuid']}}>Result</a>
                                </td>
                            {% endif %}
                            {% if 'uuid' in entry[2] %}
                                <td>
                                    <a target="_blank" href={{context + "checks/" + env + "/" + check + "/" + entry[2]['uuid']}}>JSON</a>
                                </td>
                            {% else %}
                                <td>Error</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
