<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Foursight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Update with data soon -->
    <link rel="shortcut icon" type="image/x-icon" href="http://fourfront-mastertest.9wzadzju3p.us-east-1.elasticbeanstalk.com/static/img/favicon-fs.ico">
    <style type="text/css">
    .container {
        max-width: 1400px;
        padding-top: 10px;
    }
    .control-form {
        display: inline;
        margin-right: 20px;
        margin-top: -8px;
    }
    .boxstyle {
        border: 1px solid #ccc;
        margin-bottom: 5px;
        border-radius: 8px;
    }
    .color-hover {
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f8f8f8;
        font-weight: 350;
    }
    .color-hover:hover {
        background-color: #d9d9d9;
    }
    .commonstyle {
        margin: 0px 5px 5px 5px;
    }
    .own-line {
        display: block;
    }
    .in-line{
        display: inline-block;
    }
    .check-pass {
        background-color: #dff0d8;
        color: #3c763d;
    }
    .check-warn {
        background-color: #fcf8e3;
        color: #8a6d3b;
    }
    .check-fail {
        background-color: #f2dede;
        color: #a94442;
    }
    .check-error {
        background-color: #fbdcbd;
        color: #b75c00;
    }
    .check-ignore {
        display: none;
    }
    .center-element {
        text-align: center;
    }
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    a {
        color: inherit;
    }
    </style>
</head>
<body>
    <div class="container">
        <h3 class="center-element">
            <img class="in-line" alt="FS logo" style="margin:-5px 2px 0px 0px;" height="30" src="http://fourfront-mastertest.9wzadzju3p.us-east-1.elasticbeanstalk.com/static/img/favicon-fs.ico"></img>
            <span>{{'Foursight (' + stage + ')'}}</span>
        </h3>
        {% if is_admin %}
            <h5 class="center-element">

                <span>{{'Currently logged in as admin.'}}</span>
            </h5>
        {% else %}
            <h5 class="center-element">
                <span>{{'Not logged in as admin.'}}</span>
                <button class="color-hover in-line" onclick="lock.show();">Log in</button>
            </h5>
        {% endif %}
        <ul>
            {% for env in envs %}
            <li>
                <h4>
                    <span>{{'Environment: ' + env.environment}}</span>
                </h4>
                <ul>
                    {% for check in env['checks'] %}
                    <li>
                        <div class="{{'check-' + check['status'].lower() + ' boxstyle'}}">
                            <h5 style='margin:10px 5px 10px 5px;'}}>
                                {% if check.content %}
                                    <a data-toggle="collapse" href={{'#' + env['environment'] + '-' + check['name']}}>{{check.title}}</a>
                                {% else %}
                                    <span>{{check.title}}</span>
                                {% endif %}
                                <span class="pull-right">
                                    {{check.uuid}}
                                </span>
                                {% if check.get('runnable') and is_admin %}
                                    <form class="control-form pull-right" action={{"/api/view/" + env['environment'] + '/' + check['name']}} method="get">
                                        <button class="btn btn-link" type="submit">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                {% endif %}
                            </h5>
                            {% if check.content %}
                            <div class="collapse commonstyle" id={{env['environment'] + '-' + check['name']}}>
                                {% if check.get('description') %}
                                    <div class="commonstyle own-line">{{check.description}}</div>
                                {% endif %}
                                {% if check.get('ff_link') %}
                                    <a href={{check['ff_link']}} target="_blank" class="commonstyle own-line">{{check.ff_link}}</a>
                                {% endif %}
                                {% if check.get('brief_output')%}
                                    <button class='commonstyle btn btn-default btn-sm' data-toggle="collapse" data-target={{'#' + env['environment'] + '-' + check['name'] + '-brief'}}>
                                        Toggle brief output
                                    </button>
                                    <div class="commonstyle collapse" id={{env['environment'] + '-' + check['name'] + '-brief'}}>
                                        <pre><code>{{check.brief_output}}</code></pre>
                                    </div>
                                {% endif %}
                                {% if check.get('full_output')%}
                                    <button class='commonstyle btn btn-default btn-sm' data-toggle="collapse" data-target={{'#' + env['environment'] + '-' + check['name'] + '-full'}}>
                                        Toggle full output
                                    </button>
                                    <div class="commonstyle collapse" id={{env['environment'] + '-' + check['name'] + '-full'}}>
                                        <pre><code>{{check.full_output}}</code></pre>
                                    </div>
                                {% endif %}
                                {% if check.get('admin_output') and is_admin %}
                                    <button class='commonstyle btn btn-default btn-sm' data-toggle="collapse" data-target={{'#' + env['environment'] + '-' + check['name'] + '-admin'}}>
                                        Toggle admin output
                                    </button>
                                    <div class="commonstyle collapse" id={{env['environment'] + '-' + check['name'] + '-admin'}}>
                                        <pre><code>{{check.admin_output}}</code></pre>
                                    </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% if is_admin %}
                    <h5>{{'Run group:'}}</h5>
                    <div class='container-fluid'>
                        <div class='row'>
                            {% for groups in groups_4 %}
                                {% for group in groups %}
                                    <div class="col-sm-3">
                                        <form action={{"/api/view/" + env['environment'] + '/' + group}} method="get">
                                            <button class="btn center-block color-hover" type="submit">
                                                <span>{{group}}</span>
                                            </button>
                                        </form>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </li>
            <hr>
            {% endfor %}
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.auth0.com/js/lock/10.24.1/lock.min.js"></script>
    <script>
        var lock = new Auth0Lock('DPxEwsZRnKDpk0VfVAxrStRKukN14ILB', 'hms-dbmi.auth0.com', {
            auth: {
                redirectUrl: 'https://m1kj6dypu3.execute-api.us-east-1.amazonaws.com/api/callback/',
                responseType: 'code',
                sso: false,
                params: {scope: 'openid email', prompt: 'select_account'}
            },
            socialButtonStyle: 'big',
            languageDictionary: { title: "Log in" },
            theme: { logo: 'http://fourfront-mastertest.9wzadzju3p.us-east-1.elasticbeanstalk.com/static/img/favicon-fs.ico' },
            allowedConnections: ['github', 'google-oauth2']
        });
    </script>
</body>
</html>
