{% extends "base.html" %}

<!-- Macro for toggle button to display _output fields of checks -->
{% macro toggle_output(output, target, title) %}
    <button class="commonstyle own-line btn btn-default btn-sm" data-toggle="collapse" data-target={{'#' + target}}>
        {{title}}
    </button>
    <div class="collapse" id={{target}}>
        <pre class="commonstyle"><code>{{output}}</code></pre>
    </div>
{% endmacro %}

{% block content %}
    <ul class="top-level-list">
        {% for env in envs %}
        <li>
            <h4>
                <span>{{'Environment: ' + env['environment']}}</span>
            </h4>
            <ul>
                {% for check in env['checks'] %}
                <li>
                    <div class="{{'check-' + check['status'].lower() + ' boxstyle container'}}">
                        <h5 style='margin:10px 5px 10px 5px;'}}>
                            <a class="title-hover" data-toggle="collapse" href={{'#' + env['environment'] + '-' + check['name']}}>
                                {{check.get('title', 'No Title')}}
                            </a>
                            <span class="pull-right">
                                {{check.get('local_time', 'No timestamp')}}
                            </span>
                        </h5>
                        <div class="collapse collapse-div commonstyle container-fluid" id={{env['environment'] + '-' + check['name']}}>
                            <hr style="margin:0px 0px 8px 0px; border-top:1px solid #ccc;">
                            <div class='row'>
                                <div class="col-sm-9">
                                    {% if check.get('description') %}
                                        <div class="commonstyle own-line">{{check['description']}}</div>
                                    {% endif %}
                                    {% if check.get('ff_link') %}
                                        <a href={{check['ff_link']}} target="_blank" class="commonstyle own-line">{{check['ff_link']}}</a>
                                    {% endif %}
                                    {% if check.get('brief_output')%}
                                        {{toggle_output(check['brief_output'], env['environment'] + '-' + check['name'] + '-brief', 'Toggle brief output')}}
                                    {% endif %}
                                    {% if check.get('full_output')%}
                                        {{toggle_output(check['full_output'], env['environment'] + '-' + check['name'] + '-full', 'Toggle full output')}}
                                    {% endif %}
                                    {% if check.get('admin_output') and is_admin %}
                                        {{toggle_output(check['admin_output'], env['environment'] + '-' + check['name'] + '-admin', 'Toggle admin output')}}
                                    {% endif %}
                                    {% if check.get('latest_action') %}
                                        {{toggle_output(check['latest_action'], env['environment'] + '-' + check['name'] + '-latest-action', 'Toggle latest action')}}
                                    {% endif %}
                                    {% if check.get('action') and is_admin %}
                                        <form class="commonstyle own-line" action={{"/api/view_run/" + env['environment'] + '/' + check['action'] + '/action'}} method="GET">
                                            <input type="hidden" name="called_by" value={{check['kwargs']['uuid']}} />
                                            {% if not check.get('allow_action') %}
                                                <button id={{"action-" + check['name'] + "-" + check['kwargs']['uuid']}} class="btn btn-warning btn-sm" disabled>
                                                    {{' '.join(check['action'].split('_')).title()}}
                                                </button>
                                            {% else %}
                                                <button id={{"action-" + check['name'] + "-" + check['kwargs']['uuid']}} class="btn btn-warning btn-sm" onclick="{{"return confirm_action('" + check['name'] + "-" + check['kwargs']['uuid'] + "', '" + check.get('action_message', 'Confirm run?') + "');" | safe}}" type="button">
                                                    {{' '.join(check['action'].split('_')).title()}}
                                                </button>
                                            {% endif %}
                                        </form>
                                        <div id={{"action-message-" +check['name'] + "-" + check['kwargs']['uuid']}}></div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-3 pull-right" style="text-align: right;">
                                    <a class="commonstyle own-line" target="_blank" href={{'/api/history/' + env['environment'] + '/' + check['name']}}>
                                        Result history
                                    </a>
                                    {% if check.get('kwargs') %}
                                        <form action={{'/api/view_run/' + env['environment'] + '/' + check['name'] + '/check'}} method="GET">
                                            {% for kwarg in check['kwargs'] %}
                                                {% if kwarg != 'uuid' %}
                                                    <span style="font-weight: bold; margin-right: 5px">{{kwarg}}</span>
                                                    {% if is_admin %}
                                                        <input style="width: 35%;" type="text" name={{kwarg}} value="{{check['kwargs'][kwarg]}}" /><br>
                                                    {% else %}
                                                        <span>{{check['kwargs'][kwarg]}}</span><br>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if is_admin %}
                                                <button style="margin-top: 5px;" class="btn btn-default btn-sm" type="submit">
                                                    Run check
                                                </button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if is_admin %}
                <h5>{{'Queue group:'}}</h5>
                <div class='container-fluid'>
                    <div class='row'>
                        {% for groups in groups_4 %}
                            {% for group in groups %}
                                <div class="col-sm-3">
                                    <form action={{"/api/view_run/" + env['environment'] + '/' + group + '/check'}} method="get">
                                        <button class="btn center-block color-hover" type="submit">
                                            <span>{{group}}</span>
                                        </button>
                                    </form>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </li>
        <hr>
        {% endfor %}
    </ul>

    <script type="text/javascript">
        function confirm_action(uuid, message){
            var actionMessage = document.getElementById("action-message-" + uuid);
            actionMessage.innerHTML = '<pre class="commonstyle"><code>' + message + '</code></pre>';
            var actionButton = document.getElementById("action-" + uuid);
            actionButton.classList.remove('btn-warning');
            actionButton.classList.add('btn-danger');
            actionButton.onclick = null;
            actionButton.disabled = true;
            setTimeout(function(){
                actionButton.disabled = false;
                actionButton.type = "submit";
            },1000);
        }
    </script>
{% endblock %}
